@use "../../../style/abstracts/variables" as variables;
// @use "../../../style/abstracts/mixins" as mixins;
@use "sass:map";

.mobile-menu {
  // display: none;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  grid-gap: 16px;

  padding: 24px;
  z-index: 1;
  height: 100vh;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__navbar {
    ul {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &--dark {
      ul {
        li {
          a {
            color: map-get($map: variables.$light-theme, $key: "text-black-1");
          }
        }
      }
    }

    &--light {
      ul {
        li {
          a {
            color: map-get($map: variables.$dark-theme, $key: "text-white-1");
          }
        }
      }
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  // Responsive styles

  // $breakpoints: (
  //   xs: 0,
  //   sm: 576px,
  //   md: 768px,
  //   lg: 1024px,
  //   xl: 1280px,
  //   xxl: 1440px,
  // );

  // @include mixins.respond-to(xxl) {
  // }

  // @include mixins.respond-to(xl) {
  // }

  // @include mixins.respond-to(lg) {
  // }

  // @include mixins.respond-to(md) {
  // }

  // @include mixins.respond-to(sm) {
  // }

  // @include mixins.respond-to(xs) {
  // }
}
