.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 40px;

  &__button {
    background-color: #1677ff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
  }

  input {
    height: 100%;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  input:hover {
    border-right: none;
  }

  &__button {
    height: 100%;

    svg {
      fill: white;
    }
  }
}
