@use "../../../style/abstracts/variables" as variables;
@use "sass:map";

.auth-layout {
  height: 100vh;

  h1 {
    color: blue;
  }

  &__header {
    h1 {
      color: pink;
    }
  }

  &__header--dark {
    background-color: map-get(
      $map: variables.$dark-theme,
      $key: "background-black-1"
    );
  }

  &__header--light {
    background-color: map-get(
      $map: variables.$light-theme,
      $key: "background-white-1"
    );
  }
}
